div.top_image {
  position:fixed;
  width:100%;
  height:68px;
  white-space:nowrap;
}

div.space_below_top_image {
  position: fixed;
  top: 68px;
  left: 0;
  width: 100%;
  height:15px;
}

div.menu {
  position:fixed;
  top:85px;
  left:10px;
  bottom:10px;
  width:145px;
  overflow-y:auto;
}

div.content {
  position:fixed;
  top:85px;
  left:165px;
  right:0;
  bottom:10px;
  overflow-y:scroll;
}

a.link:visited { color: mediumblue; text-decoration: none }
a.link:link    { color: blue; text-decoration: none }
a.link:hover   { color: blue; text-decoration: underline }
a.link:active  { color: orange; text-decoration: underline }

a.head:visited { color: cyan;  background-color: blue }
a.head:link    { color: cyan;  background-color: blue }
a.head:hover   { color: white; background-color: blue }
a.head:active  { color: green; background-color: blue }

a.menu:visited { color: purple; background-color: silver }
a.menu:link    { color: purple; background-color: silver }
a.menu:hover   { color: red;    background-color: white  }
a.menu:active  { color: green;  background-color: silver }

a.navigation:visited { color: purple; text-decoration: none; background-color: silver }
a.navigation:link    { color: purple; text-decoration: none; background-color: silver }
a.navigation:hover   { color: red;    text-decoration: none; background-color: silver }
a.navigation:active  { color: green;  text-decoration: none; background-color: silver }

a.type:visited { color: red; text-decoration: underline }
a.type:link    { color: red; text-decoration: underline }
a.type:hover   { color: navy }
a.type:active  { color: gold }

a.type_no_ul:visited { color: red; text-decoration: none }
a.type_no_ul:link    { color: red; text-decoration: none }
a.type_no_ul:hover   { color: navy; text-decoration: underline }
a.type_no_ul:active  { color: gold; text-decoration: underline }

a.keywd:visited { color: blue; text-decoration: underline }
a.keywd:link    { color: blue; text-decoration: underline }
a.keywd:hover   { color: orange }
a.keywd:active  { color: green }

a.keywd_no_ul:visited { color: blue; text-decoration: none }
a.keywd_no_ul:link    { color: blue; text-decoration: none }
a.keywd_no_ul:hover   { color: orange; text-decoration: underline }
a.keywd_no_ul:active  { color: green; text-decoration: underline }

a.op:visited { color: blue; text-decoration: underline }
a.op:link    { color: blue; text-decoration: underline }
a.op:hover   { color: orange }
a.op:active  { color: green }

a.op_no_ul:visited { color: blue; text-decoration: none }
a.op_no_ul:link    { color: blue; text-decoration: none }
a.op_no_ul:hover   { color: orange; text-decoration: underline }
a.op_no_ul:active  { color: green; text-decoration: underline }

a.comment:visited { color: green; text-decoration: none }
a.comment:link    { color: green; text-decoration: none }
a.comment:hover   { color: darkgreen; text-decoration: underline }
a.comment:active  { color: blue; text-decoration: underline }

a.stri:visited { color: maroon; text-decoration: none }
a.stri:link    { color: maroon; text-decoration: none }
a.stri:hover   { color: brown; text-decoration: underline }
a.stri:active  { color: blue; text-decoration: underline }

a.lib:visited { color: maroon; text-decoration: underline }
a.lib:link    { color: maroon; text-decoration: underline }
a.lib:hover   { color: blue }
a.lib:active  { color: orange }

a.prog:visited { color: darkgreen; text-decoration: underline }
a.prog:link    { color: darkgreen; text-decoration: underline }
a.prog:hover   { color: darkorange }
a.prog:active  { color: orange }

a.func:visited { color: purple; text-decoration: underline }
a.func:link    { color: purple; text-decoration: underline }
a.func:hover   { color: magenta }
a.func:active  { color: olive }

a.func_no_ul:visited { color: black; text-decoration: none }
a.func_no_ul:link    { color: black; text-decoration: none }
a.func_no_ul:hover   { color: magenta; text-decoration: underline }
a.func_no_ul:active  { color: olive; text-decoration: underline }

a.var:visited { color: darkcyan; text-decoration: underline  }
a.var:link    { color: darkcyan; text-decoration: underline  }
a.var:hover   { color: darkred }
a.var:active  { color: gold }

a.exception:visited { color: black; text-decoration: none }
a.exception:link    { color: black; text-decoration: none }
a.exception:hover   { color: blue; text-decoration: underline }
a.exception:active  { color: orange; text-decoration: underline }

a.ebnf:visited { color: black; text-decoration: none }
a.ebnf:link    { color: black; text-decoration: none }
a.ebnf:hover   { color: blue; text-decoration: underline }
a.ebnf:active  { color: orange; text-decoration: underline }

span.type    { color: red }
span.keywd   { color: blue }
span.op      { color: blue }
span.comment { color: green }
span.stri    { color: maroon }
span.lib     { color: maroon }
span.prog    { color: darkgreen }
span.func    { color: purple }
span.var     { color: darkcyan }
span.input   { color: green }

span.box {
  border: solid 1px black;
  background-color: WhiteSmoke;
  padding: 0px 1px 0px 1px;
  margin: 4px 2px 6px 2px;
}

a.menu, a.head {
  text-decoration: none;
  margin: 0px;
  color: black;
  padding: 0px;
  padding-left: 5px;
  border: 1px solid blue;
  border-top: 0;
  display: block;
  width: 120px;
}

.tt { font-family: monospace; font-size: 10pt; }

body  { font-size: 12pt; }
table { font-size: 12pt; }
tt    { font-size: 10pt; }

pre.tt {
    white-space: pre;
    table-display: fixed;
    white-space: pre-wrap;
    font-size: 10pt;
    overflow: auto;
    color: black;
    margin: 0;
    padding: 0;
}

pre.box {
    border: 1pt dashed black;
    white-space: pre;
    table-display: fixed;
    white-space: pre-wrap;
    font-size: 10pt;
    overflow: auto;
    padding: 1em 0;
    background: #F8F8F8;
    color: black;
}

pre.indent {
    border: 1pt dashed black;
    white-space: pre;
    table-display: fixed;
    white-space: pre-wrap;
    font-size: 10pt;
    overflow: auto;
    padding: 1em 0;
    background: #F8F8F8;
    color: black;
    padding-left: 16px;
}
